[submodule "my_website/public"]
	path = my_website/public
	url = https://github.com/yuan-yao-cfd/yuan-yao-cfd.github.io.git
	branch = master
[submodule "my_website/themes/ananke"]
	path = my_website/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "my_website/themes/hugo-coder"]
	path = my_website/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
